<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="mask.css">
    <script src="jquery-3.6.0.slim.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>TITLE mask</title>
</head>
<body>
    <div id="mainContainer">
        <div id="maskContainer">
            <div id="maskDiv">
                <img src="mask.svg" width="WIDTHpx" height="HEIGHTpx">
            </div>
        </div>
        <div id="textContainer">
            <div id="pointContainer">
                <input type="text" id="points" readonly="true">
            </div>
            <div id="buttonContainer">
                <button id="clearButton">Clear</button>
            </div>
        </div>
    </div>

    <script>

    let points = []

    function clickOnMask(e) {
        addPoint(e)
    }

    function addPoint(e) {
        let p = {}
        p.x = e.offsetX
        p.y = e.offsetY
        points.push(p)
        let caption = ""
        points.forEach(function(p, j) {
            if (j != 0) {
                caption = caption + " "
            }
            caption = caption + p.x + "," + p.y
        })
        $("#points").val(caption)
    }

    function clearPoints(e) {
        points = []
        $("#points").val("")
    }

    $(function() {
        $("#maskDiv").click(clickOnMask)
        $("#clearButton").click(clearPoints)
    });
    </script>
</body>
</html>
