
.image-div {
	margin: auto;
	background-image: url("s1-800.png");
	width: 576px;
	height: 800px;
}

svg {
	width: 576px;
	height: 800px;
}

.centered-parent {
	display: flex;
	justify-content: center;
}

.centered-child {
	margin-top: 100px;
}
