
.image-div {
	margin: auto;
	background-image: url("s1-800.png");
	width: 576px;
	height: 800px;
}

svg {
	width: 576px;
	height: 800px;
}

path {
	fill: none;
	stroke: red;
}

.has-rows {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.row {
}

.cell {
	margin-top: 50px;
	margin-bottom: 50px;
}
