
.image-div {
	margin: auto;
	background-image: url("top2-800.jpg");
	width: 676px;
	height: 800px;
}

svg {
	width: 676px;
	height: 800px;
}

path, line {
	fill: none;
	stroke: red;
}

.columnn {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.row-item {
	margin: 20px 50px;
}

.cell {
	margin-top: 50px;
	margin-bottom: 50px;
}
